* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100vw;
}

.background-video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.head {
  background-image: url("https://www.shutterstock.com/shutterstock/videos/1111336819/preview/stock-footage-aerial-top-down-drone-view-of-an-empty-lakeshore-road-in-lake-attersee.webm");
  background-repeat: no-repeat;
  background-size: cover;
}

.con {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  height: 150vh;
  width: 100vw;
}
a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-home {
  background-color:#113a08;
  position: sticky;
  top: 5%;
  left: 5%;
  width: 7%;
  height: 15%;
  border-radius: 150px;
  grid-column: 1;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-pic {
  width: 35%;
  height: 50%;
}
.icon-home:hover {
  width: 10%;
  height: 17%;
  background-color: #00b312;
}
.icon-pic:hover {
  width: 37%;
  height: 55%;
}
.personal-form {
  grid-column: 2 / 4;
  grid-row: 3 / 5;
  height: 65%;
  width: 100%;
  transition: 0.5s;
  color: aliceblue;
}
.personal-form:hover {
  color: aliceblue;
}
.video {
  grid-column: 2;
  grid-row: 5 / 6;
}
.content {
  grid-column: 5;
  grid-row: 5;
  font-size: 1.2em;
  color: aliceblue;
}
.dream {
  grid-column: 5;
  grid-row: 3 / 4;
  font-size: 4em;
  color: aliceblue;
}
.dream:hover{
  box-shadow: 0 8px 20px rgba(235, 230, 230, 0.3);
}
.blue-con {
  position: relative;
  left: 20%;
  bottom: 0;
  background-color: rgb(73, 152, 107);
margin: 5%;
  width: 50%;
  height: 50px;
  border-radius: 90px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: 1s;
}

.logo > img {
  width: 40px;
  height: 40px;
  transition: 4s;
}

.blue-con:hover {
  width: 65%;
  height: 60px;
  background-color: rgb(29, 77, 51);
}
.loges {
  display: grid;
  height: 80vh;
  place-items: center;
}
.cap {
  font-size: 2em;
}
.cap:hover {
  font-size: 2.5em;
}

.logo:hover {
  height: -20%;
  width: -20%;
  position: relative;
  bottom: 5px;
  box-shadow: 0 8px 20px rgba(235, 230, 230, 0.3);
}
input{
  border-radius: 12px;
  color: black;
  font-style: italic;
  transition: 1s;

}
input:focus{
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
select{
  border-radius: 12px;
  font-style: italic;
  transition: 1s;
}
select:hover{
  transform: scale(1.1);
  position: relative;
  left: 2%; 
}
input:hover{
  transform: scale(1.1);
  position: relative;
  left: 2%;
}
button {
  background-color: #113a08;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  position: relative;
  left: 5%;
  bottom: 3%;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #00b312;
  padding: 15px;
  position: relative;
  left: 6%;
  bottom: 4%;
  font-size: 18px;
}
table{
  font-size: 1.2em;
}
table:hover{
    text-decoration: underline;
}
.svg{
  width: 40px;
  
}
.svg:hover{
  width: 45px;
}
th:hover{
  transform: scale(1.08);
}
@media (width <= 768px){
  .con{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(10, 1fr);
    
  }
  .icon-pic {
    width: 45%;
    height: 55%;
  }
  .dream {
    grid-column: 1;
    grid-row: 3/4;
    font-size: 3em;
  }
  .video {
    grid-column: 1;
    grid-row: 2 / 3;
  }
  .content {
    grid-column: 1;
    grid-row: 5;
    font-size: 1.2em;
    color: aliceblue;
  }
  .personal-form {
    grid-column: 1;
    grid-row: 7/8;}
    .blue-con {
      position: relative;
      left: 20%;
      bottom: 0;
    margin: 2%;
      width: 70%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
    .cap {
      font-size: 1em;
    }
}
