.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: antiquewhite;
}
.icon-home {
  background-color: #c4dabb;
  position: sticky;
  top: 5%;
  left: 5%;
  width: 100px;
  height: 20%;
  border-radius: 150px;
  grid-column: 1;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-pic {
  width: 35%;
  height: 50%;
}
.icon-home:hover {
  width: 110px;
  height: 22%;
}
.icon-pic:hover {
  width: 37%;
  height: 55%;
}
.head {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 15px;
}
.header {
  position: relative;
  left: 60%;
  width: 30vw;
  font-size: 2.5em;
  color: #498030;
}
h1 {
  background-color: #c4dabb;
  color: #498030;
}
.sport-1 {
  grid-column: 2;
  grid-row: 2/4;
}
.sport-2 {
  grid-column: 4;
  grid-row: 2/4;
}
.sport-3 {
  grid-column: 6;
  grid-row: 2/4;
}
.cart {
  display: grid;
  place-items: right;
  width: 15%;
}
.blue-con {
  background-color: #c4dabb;
  margin: 5%;
  width: 75%;
  height: 50px;
  border-radius: 90px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: 1s;
  font-size: 20px;
}

.footer {
  background-color: #c4dabb;
  display: flex;
  justify-content: center;
  grid-column: 1/-1;
  grid-row: 6;
  color: #498030;
  font-size: 2em;
}
.footer:hover {
  font-size: 2.5em;
}
a {
  text-decoration: none;
  color: #498030;
}
.blue-con:hover {
  background-color: rgb(15, 221, 101);
  width: 78%;
  height: 55px;
}
.cart:hover {
  width: 20%;
}
@media (width <= 768px) {
  .con {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 15px;
  }

  .sport-1 {
    grid-column: 2;
    grid-row: 2/4;
  }
  .sport-2 {
    grid-column: 2;
    grid-row: 4/6;
  }
  .sport-3 {
    grid-column: 2;
    grid-row: 6/8;
  }

  .footer {
    position: relative;
    bottom: 5%;
    display: flex;
    justify-content: center;
    grid-column: 1/-1;
    grid-row: 9/10;
  }
}
